html,
body {
  margin: 0;
  overflow: hidden;
}
.titlebox {
  height: 10vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 30px;
}
.main {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.encryption {
    width: 50vw;
    border: 5px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}
.encryption textarea {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid gray;
    outline: none;
    border-radius: 15px;
}
#encryptButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid black;
}

.decryption {
  width: 50vw;
  border: 5px solid;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
}
.decryption textarea {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:1px solid gray;
  outline: none;
  border-radius: 15px;
}
#decryptkey {
  outline: none;
  border:1px solid gray;
  border-radius: 15px;
}
#decryptButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid black;
}
.danger {
  color: red;
}